<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%> <!-- Including head partial -->
  </head>
  <body>
    <%- include('./partials/navmenu') -%>


    <h1 style="color:chartreuse"><%= title %></h1>
    <h2> My name is Scott </h2>
    <p>Welcome to <%= title %></p>
    <p> This is a paragraph to demonstrate an example of how This
      tag works.  This allows use to break up text into small paragraphs.
    </p>
    <img src="/images/bdpalogo.png" alt="INBDPA logo" height="45" width="45"> <br>

    <!-- Link for page 2 -->
    <a href="page2"> Click here to go to page 2 </a> <br>

    <a href="http://www.bdpa.org"> Link to BDPA homepage </a> <br>


    <%- include('./partials/footer') -%>
  </body>
</html>
