<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%> <!-- Including head partial -->
  </head>
  <body>
    <%- include('./partials/navmenu') -%>

<!-- INSERT ACTUAL PAGE CONTENT HERE!!!!-->
<h1> STATS PAGE </h1>
<h3> Opportunities = <%= opportunities %> </h3>
<h3> Sessions = <%= sessions %> </h3>
<h3> Views = <%= views %> </h3>
<h3> Users = <%= users %> </h3>
    <%- include('./partials/footer') -%>
</body>
</html>